.login__link {
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.2s linear;
    font-size: 14px;
    margin-left: 2px;
  }
  
  .login__link:hover {
    opacity: 0.6;
    cursor: pointer;
  }