.edit-form__submit-button {
  height: 50px;
  max-width: 358px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  justify-items: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
  border: none;
  transition: opacity 0.4s;
  opacity: 1;
  cursor: pointer;
  margin: 0 auto 37px;
  padding: 13px 0 18px;
}

.edit-form__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .edit-form__submit-button {
    font-size: 14px;
    line-height: 1.21;
    max-width: 238px;
    height: 46px;
    margin: 0 auto 25px;
    padding: 14px 0;
  }
}
